.carousel {
  padding: 81px 60px;
  &__inner {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
  }
  .carousel__img {
    width: 100%;
  }
  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    border: none;
    background-color: #fff;
    img {
      width: 30px;
      height: 50px;
    }
  }
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    border: none;
    background-color: #fff;
    img {
      width: 30px;
      height: 50px;
    }
  }
}
