.consultation {
  padding: 102px 0 108px 0;
  min-height: 680px;
  background: url(../img/bg2.png) center (center/cover) no-repeat;

  // .consultation__header
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: $text-color;
  }
  // .consultation__descr
  &__descr {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $text-color;
  }
  .error {
    text-align: center;
    border: 1px solid red;
    line-height: 20px;
    margin-bottom: 12px;
  }
  label.error {
    color: #fff;
    border: none;
  }
}
