.footer {
  height: 630px;
  position: relative;
  // .footer__info
  &__info {
    top: 0;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    width: 460px;
    height: 270px;
    background-color: $b-color;
    padding: 50px 54px 56px 54px;
  }
  // .footer__adddres
  &__adddres {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  // .footer__phone
  &__phone {
    margin-top: 36px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: 0.6s all;
    &:hover {
      color: #ebdddd;
      text-decoration: none;
    }
  }
  // .footer__social
  &__social {
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 212px;
  }
  // .footer__social--item
  &__social--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    transition: 0.6s all;
    &:hover {
      &__social--icon {
        border: #ebdddd;
      }
    }
  }
  // .footer__social--icon
  &__social--icon {
    width: 24px;
    height: 24px;
    transition: 0.6s all;
  }
}
