@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }

  .promo__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .consultation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .carousel {
    padding: 81px 10px;
    &__inner {
    }
    .slick-prev {
      display: none;
      img {
        display: none;
      }
    }
    .slick-next {
      display: none;
      img {
        display: none;
      }
    }
  }
  .catalog__content {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .header {
    &__phone {
      font-size: 17px;
    }
    &__official {
      display: none;
    }
  }
  .promo {
    &__wrapper {
      padding-top: 60px;
      .button {
        margin: 0 auto;
        margin-top: 30px;
      }
    }
    &__header {
      font-size: 40px;
      margin: 0 auto;
    }
    &__subheader {
      margin: 0 auto;
    }
    &__icons {
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }

  .benefits {
    &__reviews {
      flex-wrap: wrap;
    }
    &__review {
      width: 50%;
    }
  }
  .carousel {
    &__inner {
    }
  }
  .catalog__tab {
    width: 161px;
    height: 41px;
    font-size: 14px;
    line-height: 39px;
  }
  .catalog {
    .catalog--item {
      width: 271px;
      height: 453px;
      &__price {
        font-size: 18px;
        line-height: 31px;
      }
    }
  }
}
@media (max-width: 567px) {
  .promo {
    .header {
      &__logo {
        max-width: 190px;
        img {
          width: 100%;
        }
      }
      &__contacts {
        button {
          width: 175px;
          height: 50px;
          margin-top: 10px;
        }
      }
    }
  }
  .benefits {
    // .benefits__review
    &__review {
      width: 75%;
    }
  }
  .consultation {
    &__header {
      font-size: 26px;
      line-height: 45px;
    }
  }
  .carousel {
    .slick-prev {
      img {
        display: none;
      }
    }
    .slick-next {
      img {
        display: none;
      }
    }
  }
  .catalog {
    &__tab {
      width: 100px;
      height: 37px;
      font-size: 11px;
    }
  }
  .review {
    &__item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__img {
      margin: 0;
    }
    &__descr {
      display: flex;
      flex-direction: column;
      text-align: center;
      &--name {
        margin-top: 20px;
      }
    }
  }
  .footer__info {
    width: 320px;
  }
}
@media (max-width: 374px) {
  .feed-form {
    width: 280px;
  }
  .consultation {
    &__header {
      font-size: 25px;
      line-height: 37px;
    }
  }
  .button__main {
    width: 280px;
  }
  .promo {
    &__header {
      font-size: 32px;
    }
  }
  .promo {
    &__subheader {
      font-size: 17px;
    }
  }
}
