.promo {
  padding-top: 21px;
  padding-bottom: 93px;
}

.header {
  display: flex;
  justify-content: space-between;

  // .header__logo

  /* &__logo {
  } */

  // .header__offficial

  /* &__offficial {
  } */

  // .header__contacts

  /* &__contacts {
  } */

  // .header__phone

  /* &__phone {
  } */
}

/* .button {
} */
